<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>CHANEL</title>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="user-scalable=yes,width=device-width, maximum-scale=1.0, minimum-scale=0.2" />
    <script src="/app/js/view.js"></script>
    <link rel="stylesheet" href="/app/static/iconfont/iconfont.css" />
    <link rel="stylesheet" href="/app/static/css/main.css" />
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/app/static/js/jquery.min.js"></script>
    <script src="/app/static/js/jquery.touchSwipe.min.js"></script>
    <script src="/app/static/js/vue.min.js"></script>
    <script src="/app/static/js/iscroll.js"></script>
    <script src="/app/static/js/layer.js">
    </script>
    <script src="/app/static/js/main.js"></script>
    <script>
        var mymark = "";
        if (!window.ENV) window.ENV = {};
        window.ENV.myDomain = "devch.minuteschina.com";
        window.ENV.appId = "";
        window.ENV.timestamp = "1488121806";
        window.ENV.nonceStr = "minutes";
        window.ENV.signature = "b266cfdabad75e18fa1b369bfd2bae79ba4e0aa8";
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: ENV.appId, // 必填，公众号的唯一标识
            timestamp: ENV.timestamp, // 必填，生成签名的时间戳
            nonceStr: ENV.nonceStr, // 必填，生成签名的随机串
            signature: ENV.signature, // 必填，签名，见附录1
            jsApiList: ['checkJsApi', 'hideOptionMenu'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function() {
            wx.hideOptionMenu();
        });
    </script>
</head>

<body>
    <div id="share" class="share">
        <div class="header tabhead"><a href="#" class="prev">首页  </a><a href="share_history" class="next">历史</a>
            <ul class="tab twoli">
                <li @click="tabs(1)" :class="{active:mytab==1}">产品</li>
                <li @click="tabs(2)" :class="{active:mytab==2}">媒介传讯</li>
            </ul>
        </div>
        <div :class="{nodata:list.length==0,edit:isEdit}" v-if="mytab==1" class="grid sharepro">
            <h1 class="statusa"><a @click="editFn(false)">完成</a></h1>
            <h1 class="statusb"><a @click="editFn(true)">编辑</a></h1>
            <div class="gridcon">
                <ul class="mypro">
                    <li v-for="(item,index) in list" class="box">
                        <!-- <a :href="'share_productDetail.html?id='+item.shareid"><img :src="item.httpPostImg" alt="" /></a> -->
                        <img :src="item.httpPostImg" alt="" />
                        <i @click="deleteFn(item.pid, item.colorid, 1,index)" class="delete"></i></li>
                </ul>
            </div>
            <a :href="'share_productDetail.html?id='+shareId" class="btnfull">确定</a>
        </div>
        <div v-if="mytab==2" v-bind:class="{edit:isEdit,nodata:true}" class="grid">
            <h1 class="statusa"><a @click="editFn(false)">完成</a></h1>
            <h1 class="statusb"><a @click="editFn(true)">编辑</a></h1>
            <div class="gridcon">
                <ul id="gul" class="mymedia">
                    <li class="box"><img src="/app/static/images/timg.jpg" alt="" /><i class="delete"></i></li>
                    <li class="box"><img src="/app/static/images/bao.jpg" alt="" /><i class="delete"></i></li>
                    <li class="box"><img src="/app/static/images/t1.jpg" alt="" /><i class="delete"></i></li>
                    <li class="box"><img src="/app/static/images/timg.jpg" alt="" /><i class="delete"></i></li>
                    <li class="box"><img src="/app/static/images/bao.jpg" alt="" /><i class="delete"></i></li>
                    <li class="box"><img src="/app/static/images/t1.jpg" alt="" /><i class="delete">  </i></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/app/static/js/wook.js"></script>
    <script src="/app/static/js/watermark.js"></script>
    <script src="/app/static/js/share.js">
    </script>

</body>

</html>