extends ./layout.jade

block content
    .header 
        a.prev(href="#") 返回首页
        a.next(href="#") 下一页
    .grid#grid
        .gridlist
            ul
                li this is one

    script(src="//cdn.bootcss.com/scrollReveal.js/3.3.2/scrollreveal.min.js")
    script(src="")