extends ./layout.jade

block content
    .indexmenu
        .bg
            img.bgimg(src="/app/static/images/timg.jpg", alt="")
        .black
        i.iconfont.icon-arrow.down
        i.iconfont.icon-arrow.up
        .list

            ul
                li
                    a(href="news_list.html") 最新快讯
                li
                    a(href="#") 产品
                li
                    a(href="#") 媒介传讯
                li
                    a(href="#") 陈列
                li
                    a(href="#") 培训
                li
                    a(href="#") 分享
                li
                    a(href="#") 社区



