extends ./layout.jade

block content
    .indexmenu.active
        .bg
        .black
        .list
            i.iconfont.icon-arrow.down
            i.iconfont.icon-arrow.up
            ul
                li
                    a(href="#") no1
                li
                    a(href="#") no1
                li
                    a(href="#") no1
                li
                    a(href="#") no1
                li
                    a(href="#") no1
                li
                    a(href="#") no1
                li
                    a(href="#") no1





