<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title 上海绿地申花足球俱乐部
        link(rel="icon" href="/favicon.ico")
        meta(name="viewport" content="user-scalable=yes,width=device-width, maximum-scale=1.0, minimum-scale=0.2")
        script(src="app/js/view.js")
        link(rel="stylesheet", href="/app/static/iconfont/iconfont.css")
        link(rel="stylesheet", href="/app/static/css/main.css")
        script(src="/app/static/js/jquery.min.js")
        script(src="/app/static/js/jquery.touchSwipe.min.js")
        script(src="/app/static/js/vue.min.js")
        script(src="/app/static/js/iscroll.js")        
        script(src="/app/static/js/main.js")

    body
    

        block content

    //- include _footer
