extends ./layout.jade

block content
    .newslist
        .news
            each v in [1,2,3,4,5,6]
                li
                    a(href="http://baidu.com")
                        h1  Lorem ipsum dolor sit amet.  
                        p  Lorem ipsum dolor sit. 
                        span 12/13/2017
        .cap