extends ./layout.jade

block content
    .header.noline 
        a.prev(href="#") 返回首页
    .newslist#newslist

        .onelist(v-cloak)
            ul
                li(v-for="item in list")
                    a(:href="item.link")
                        img(:src="item.httpPostImg", alt="")
                        h5  {{item.title}}
                        p.desc(v-if="item.description") {{item.description}}
                        p.time {{item.update_time}}
    script.
        var mymark = "abcsdfds.dfasd";
    script(src="/app/static/js/watermark.js")
    script(src="/app/static/js/newslist.js")