extends ./layout.jade

block content
    .header 
        a.prev(href="#") 返回首页
        a.next(href="#") 下一页
    .newslist#newslist

        .onelist(v-cloak)
            ul
                li(v-for="item in list")
                    a(href="news_detail.html")
                        img(src="/app/static/images/t1.jpg", alt="")
                        h5  {{item.title}}
                        p.desc {{item.desc}}
                        p.time {{item.time}}
    script(src="/app/static/js/newslist.js")