extends ./layout.jade

block content
    .newsdetail
        .header 
            a.prev(href="#") 返回首页
            a.next(href="#") 下一页
        .detail
            .head
                h1 介绍香奈儿Gabrielle手袋
                p.time 02/15/2017
                p.desc 发现更多关于新CHANEL手袋-Gabrielle: 它的灵感，目的... 

            .detailinfo
                img(src="/app/static/images/t1.jpg", alt="")
                h5  Lorem ipsum dolor sit amet.  
                p.desc   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, voluptatem. ipsum dolor sit. 
                p.time 12/13/2017

