extends ./layout.jade

block content
    #offer(@click="hideNotice")
        i.noticeup(v-if="isNotice")
        .header
            a.prev(href="#") 返回首页       
            a.next.btn(v-if="!isError" href="#" @click="addbuy") 添加

        .product
            dl
                dd(v-cloak)
                    .tab
                        a(v-for="(item, index) in list.colorList" @click="changtype(index)" v-bind:class="{active:index == currIndex}") {{item.color}} 
                    .plist
                        span(v-if="!isError")
                            img(:src="curr.colorImg")
                        span(v-else="") 
                            img(:src="mydefault.colorImg")

                    .info
                        span.error(v-if="isError") 该产品没有图片，不能添加
                        span.title {{list.name}}
                        span.code {{list.model_no}}
                        span.price {{list.price}}
                        span.type {{list.description}}
                        span.wh {{list.spec}}

                    .fimg
                        img(v-for="(item, index) in list.imageList" v-bind:src="item.httpPostImg" alt="")
                        video(v-for="(item, index) in list.videoList" v-bind:src="item.videoArr.url" controls="controls") 
                //- .grid
                //-     h4 in the press
                //-     ul#gul
                //-         li.box
                //-             img(src="/app/static/images/timg.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/bao.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/t1.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/timg.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/bao.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/t1.jpg", alt="")    
    //- script(src="/app/static/js/wook.js")

    script.
        var mymark = "abcsdfds.dfasd";
    script(src="/app/static/js/watermark.js")

    script(src="/app/static/js/offer.js")