extends ./layout.jade

block content
    #offer 
        .header
            a.prev(href="#") 返回首页       
            a.next.btn(href="#" @click="addbuy") 添加

        .product
            dl
                dd
                    .tab
                        a.active(href="#", title="黑色", @click="changtype('black')") 黑色                     
                        a(href="#", title="白色", @click="changtype('white')") 白色
                    .plist
                        span
                            img(src="/app/static/images/b2.jpg", alt="")
                    .info
                        span.error 该产品没有图片，不能添加
                        span.title {{list.name}}
                        span.code {{list.model_no}}
                        span.price {{list.price}}
                        span.type {{list.description}}
                        span.wh {{list.spec}}

                    .fimg
                        img(src="/app/static/images/t1.jpg", alt="") 
                //- .grid
                //-     h4 in the press
                //-     ul#gul
                //-         li.box
                //-             img(src="/app/static/images/timg.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/bao.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/t1.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/timg.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/bao.jpg", alt="")
                //-         li.box
                //-             img(src="/app/static/images/t1.jpg", alt="")    
    //- script(src="/app/static/js/wook.js")
    script.
        var mymark = "abcsdfds.dfasd";
    script(src="/app/static/js/watermark.js")

    script(src="/app/static/js/offer.js")