extends ./layout.jade

block content
    .presslist#presslist
        .header
            a.prev(href="main_index.html") 首页  
            a.next(@click="showformFn") 搜索
                    
        .grid.mypress#mypress(:class="{nodata:list.length<1}")
            .gridcon
                ul#gul

                    li(v-for="item in list")
                        a(v-bind:href="'press_detail.html?id='+item.id")
                            img(:src="item.httpPostImg", alt="")
                        h5
                            i.heart(@click="addHeart(item)",v-bind:class="{active:item.isActive}")
                            span {{item.heart}}
                            a(v-bind:href="'press_detail.html?id='+item.id") 查看

        .filter.fsearch
            i.close(@click="closeFilter") 关闭
            .search
                input.q(type="text",v-on:keyup.enter="getSearch", v-model="search", placeholder="请输入明星／媒体名称")
                a.go(@click="getSearch") 搜索
            .tagscroll
                .scrollcon
                    ul
                        li(v-for="tag in tags", v-if="tag.type < 5")
                            h5 {{tag.title}}
                            div
                                span(v-for="no in tag.tagList")
                                    input(type="checkbox", :id="'no'+no.id", v-model="size", :value="no.id")                          
                                    label(:for="'no'+no.id") {{no.name}}               
                        li.line(v-else="")
                            h5 {{tag.title}}                   
                            div
                                span(v-for="no in tag.tagList")
                                    input(type="checkbox", :id="'no'+no.id", v-model="season", :value="no.id")                            
                                    label(:for="'no'+no.id") {{no.name}}              


                .fixedbtn
                    a.btn(@click="getSearch") 提交            
                    a.btn(@click="getSearch(false)") 显示全部            

    script(src="/app/static/js/wook.js")
    script.
        var mymark = "re";
    script(src="/app/static/js/watermark.js")

    //- script(src="/app/static/js/jquery-ui.min.js")
    //- script(src="/app/static/js/jquery.touch-punch.min.js")
    //- script(src="/app/static/js/shapeshift.js")

    script(src="/app/static/js/press.js")  