extends ./layout.jade

block content
    .presslist#presslist
        .header
            a.prev(href="#") 返回  
            a.next(href="share_history") 搜索
                    
        .grid.mypress
            .gridcon
                ul#gul
                    li.box
                        img(src="/app/static/images/timg.jpg", alt="")
                        h5
                            i.heart
                            span 2345
                            a(href="#") 查看
                    li.box
                        img(src="/app/static/images/bao.jpg", alt="")
                        h5
                            i.heart
                            span 2345
                            a(href="#") 查看
                    li.box
                        img(src="/app/static/images/t1.jpg", alt="")
                        h5
                            i.heart
                            span 2345
                            a(href="#") 查看
                    li.box
                        img(src="/app/static/images/timg.jpg", alt="")
                        h5
                            i.heart.active
                            span 2345
                            a(href="#") 查看
                    li.box
                        img(src="/app/static/images/bao.jpg", alt="")
                        i.delete
                    li.box
                        img(src="/app/static/images/t1.jpg", alt="") 
                        i.delete   

        .filter.fsearch
            i.close(@click="closeFilter") 关闭
            ul  
                li.active
                    h5(@click="activeitem($event)") 流浪包
                    div
                        span(@click="getfilter(1,1)") 小号
                        span(@click="getfilter(1,2)") 中号
                        span(@click="getfilter(1,3)") 大号

                li 
                    h5(@click="activeitem($event)") 双肩背包  
                    div 
                        span(@click="getfilter(2,1)") 小号
                        span(@click="getfilter(2,2)") 中号
                        span(@click="getfilter(2,3)") 大号                
                li 
                    h5(@click="activeitem($event)") 购物包 

                    div 
                        span(@click="getfilter(3,1)") 小号
                        span(@click="getfilter(3,2)") 中号
                        span(@click="getfilter(3,3)") 大号                
                li 
                    h5(@click="activeitem($event)") 手袋
                    div 
                        span(@click="getfilter(4,1)") 小号
                        span(@click="getfilter(4,2)") 中号
                        span(@click="getfilter(4,3)") 大号

    script(src="/app/static/js/wook.js")
    script.
        var mymark = "re";
    script(src="/app/static/js/watermark.js")
    script(src="/app/static/js/press.js")  