extends ./layout.jade

block content
    .sharedetail#sharedetail(@click="hideNotice")
        i.noticeup(v-if="isNotice")
        .header
            //- a.btnmore   
            //- a.btnadd
            a.btnlogo

        .shareproduct
            dl(v-cloak)
                dd(v-for="item in list")
                    .plist
                        span
                            img(:src="item.httpPostImg")
                    .info
                        span.title {{item.productArr.name}}
                        span.type(v-html="item.productArr.description")
                        span.code {{item.productArr.model_no}}
                        span.wh {{item.productArr.spec}}
                        span.price {{item.productArr.price}}
            a.btnfull(@click="showform(true)") 确定


        .shareform#shareform(v-if="isShowForm")

            .header
                a.prev 返回   

            .form
                dl
                    dt 请填写分享对象信息
                    dd
                        div
                            i 姓名
                            input(placeholder="请填写" v-model="toUser.name")
                    dd
                        div
                            i 称谓
                            input(placeholder="请选择" v-model="toUser.sex")
                    dd.last
                        a.btn(@click="saveLocal") 确认
                        a.btn(@click="showform(false)") 取消

    script.
        var mymark = "";
    script(src="/app/static/js/watermark.js")
    script(src="/app/static/js/share_detail.js")  