extends ./layout.jade

block content
    .history#history
        .header
            a.prev(href="share_showlist.html") 返回 

        .historylist(:class='{nodata:list.length==0}' v-cloak)
            ul
                li(v-for="item in list")
                    p.to TO  
                    p.name {{item.touser}} <span :class="{women:item.sex == 2,man:item.sex == 1}"></span>
                    p.time {{item.send_time}}
                    a( @click="linkto(item.id)")
                        i.dot()

    script.
        var mymark = "";
    script(src="/app/static/js/watermark.js")
    script(src="/app/static/js/history.js")  