extends ./layout.jade

block content
    .header.tabhead
        a.prev(href="#") 返回首页  
        ul.tab
            li.active 最新培训
            li 主题
            li puzzle&tips
                
                 

    .train
        dl
            dd
                .title
                    span.desc chapter1
                    span.tit 7种背Gabrielle的方式
                    span.time 02/15/2017  14:00
                .info
                    img(src="/app/static/images/train.jpg", alt="")