$bg: #0b1c37;
$b1: #024282;
$b2: #001123;
$b3: #051121;
$c:#819ebb;
$y: #f7f21a;
$arial: Helvetica,
\5FAE\8F6F\96C5\9ED1,
sans-serif;
a {
    text-decoration: none;
    color: #a0a9b5;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}