//colors
$white: #fff;
$black: #000;
$black_56: rgba(0, 0, 0, 0.56);
$black_86: rgba(0, 0, 0, 0.86);
$color_black_haze_approx: #f7f7f7;
$color_celeste_approx: #d1d1d1;
$color_suva_gray_approx: #888;
$color_mercury_approx: #e7e7e7;
//fonts
$font_0: iconfont;
//urls
$url_0: url(/app/static/images/logo.png);
$url_1: url(/app/static/images/timg.jpg);
//@extend-elements
//original selectors
//dl, dt, dd, ul, ol, li
%extend_1 {
    padding: 0;
    margin: 0;
    list-style: none;
}

//original selectors
//html, body
%extend_2 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

//original selectors
//.loading, .indexmenu, .indexmenu .bg, .indexmenu .black, .indexmenu >.iconfont, .indexmenu .list
%extend_3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

dl {
    @extend %extend_1;
}

dt {
    @extend %extend_1;
}

dd {
    @extend %extend_1;
}

ul {
    @extend %extend_1;
}

ol {
    @extend %extend_1;
}

li {
    @extend %extend_1;
}

html {
    @extend %extend_2;
}

body {
    @extend %extend_2;
    background: $white;
    color: $black;
    font: .2rem/1.8 Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
}

[v-cloak] {
    display: none;
}

img {
    pointer-events: none;
}

.header {
    height: .94rem;
    border-bottom: .07rem solid $black;
    position: fixed;
    top: 0;
    background: $white;
    z-index: 9;
    width: 100%;
    &.noline {
        border-bottom: 0.07rem solid transparent;
    }
    a {
        color: $black;
        font: .22rem/.94rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
        position: absolute;
        &.prev {
            left: .2rem;
        }
        &.next {
            right: .2rem;
        }
        &.btn {
            top: .28rem;
            background: $black;
            line-height: .36rem;
            color: $white;
            padding: 0 0.1rem;
            &:after {
                content: " \e620";
                font-family: $font_0;
                font-size: .2rem;
            }
        }
    }
}

.loading {
    @extend %extend_3;
    width: 100%;
    height: 100%;
    background: $url_0 $black center center no-repeat;
    background-size: 2.95rem 0.46rem;
    z-index: 999;
}

.indexmenu {
    @extend %extend_3;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .bg {
        @extend %extend_3;
        top: 0;
        width: 100%;
        height: 100%;
        background: $url_1;
        background-size: cover;
        z-index: 1;
        >img {
            width: 100%;
        }
    }
    .black {
        @extend %extend_3;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.2s ease-in;
        width: 100%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-2.8rem);
        top: 100%;
        height: 100%;
        background: $black;
        z-index: 2;
    }
    .list {
        @extend %extend_3;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 0.3s ease-in;
        width: 100%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateY(-4rem);
        top: 100%;
        height: 100%;
        background: $black_56;
        z-index: 3;
        >ul li a {
            color: $white;
            display: block;
            text-align: center;
            font: .26rem/1.2rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
        }
    }
    &.active {
        ul {
            padding: .8rem 0 0 0;
        }
        .black {
            top: 0;
            height: 100%;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: translateY(0);
            background: $black_86;
        }
        .list {
            top: 2.2rem;
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: translateY(0);
            height: 100%;
            bottom: auto;
        }
        >.iconfont {
            &.down {
                display: block;
            }
            &.up {
                display: none;
            }
        }
    }
    >.iconfont {
        @extend %extend_3;
        font-size: .3rem;
        color: $white;
        width: 7.5rem;
        text-align: center;
        z-index: 9;
        &.down {
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(180deg);
            top: 1rem;
            display: none;
        }
        &.up {
            position: fixed;
            bottom: .05rem;
        }
    }
}

.product {
    padding: 1rem 0;
    dl dd {
        .tab {
            padding-top: .18rem;
            text-align: center;
            >a {
                font: .22rem/.58rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                padding: 0 0.18rem;
                display: inline-block;
                color: $black;
            }
        }
        .plist {
            border-bottom: .16rem solid $color_black_haze_approx;
            //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            box-shadow: 0 1px 0 0 $color_celeste_approx;
            text-align: center;
            span {
                display: inline-block;
                width: 2.54rem;
                height: 2.54rem;
                vertical-align: bottom;
                width: 33.33%;
                img {
                    width: 2.54rem;
                    height: 2.54rem;
                    display: block;
                }
            }
        }
        .info {
            position: relative;
            height: 1.65rem;
            span {
                display: block;
                &.title {
                    font: .34rem/1.2 Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    position: absolute;
                    top: .2rem;
                    left: .4rem;
                }
                &.code {
                    font: .18rem/1.2 Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    color: $color_suva_gray_approx;
                    position: absolute;
                    top: .66rem;
                    left: .4rem;
                }
                &.price {
                    font: .24rem/1.2 Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    position: absolute;
                    left: .4rem;
                    top: 1.08rem;
                }
                &.type {
                    top: .2rem;
                    font: .26rem/1.2 Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    position: absolute;
                    right: .4rem;
                }
                &.color {
                    font: .26rem/1.2 Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    position: absolute;
                    top: .55rem;
                    right: .4rem;
                }
                &.wh {
                    font: .22rem/1.2 Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    position: absolute;
                    right: .4rem;
                    top: 1.08rem;
                }
            }
        }
        .fimg img {
            width: 100%;
            display: block;
        }
    }
}

.newsdetail {
    padding: 1rem 0;
    .head {
        padding: .2rem;
        border-bottom: 1px solid $color_mercury_approx;
        margin-bottom: .2rem;
        h1 {
            font: bold .26rem/.5rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
            margin: 0;
        }
        p {
            font: .18rem/.4rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
            height: .4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            &.time {
                padding-bottom: .3rem;
            }
        }
    }
    .detailinfo {
        padding: .2rem;
        * {
            max-width: 100%;
        }
    }
}

.newslist {
    height: 100%;
    padding: 1rem 0 0;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    .onelist {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        ul {
            padding: 1rem 0.2rem;
            li {
                border-bottom: .07rem solid $black;
                padding: 0.45rem 0 0.4rem 0;
                text-align: center;
                img {
                    width: 4.5rem;
                }
                h5 {
                    font: bold .23rem/.5rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    margin: 0;
                }
                p {
                    font: .18rem/.3rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
                    height: .3rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                }
                a {
                    display: block;
                    color: $black;
                }
                &:last-child {
                    border-bottom: 0.07rem solid transparent;
                }
            }
        }
    }
}

.grid {
    h4 {
        font: .3rem/.7rem Helvetica, \5FAE\8F6F\96C5\9ED1, sans-serif;
        padding-top: .25rem;
        text-align: center;
        margin: 0 0.2rem 0.32rem 0.2rem;
        border-bottom: 1px solid $black;
    }
    ul {
        position: relative;
        li {
            height: auto;
            display: inline-block;
            >img {
                width: 3.45rem;
                height: auto;
            }
        }
    }
}

#repeat-watermark {
    position: fixed;
    z-index: 9;
    top: 0;
    pointer-events: none;
    background: transparent;
}

.price:before {
    content: "\e63a";
    font-family: $font_0;
}